$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;

* {
  box-sizing: border-box;
}

body {
  font: 1.2em $font-stack;

  li {
    text-transform: capitalize;
    list-style-type: none;
    > * {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      max-width: 1.5em;
      height: auto;
    }
    a {
      text-decoration: none;
    }
  }

  td {
    text-transform: capitalize;
  }
}


