// importing from google fonts
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

// mixins
@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  -o-background-size: $background-size;
  background-size: $background-size;
}

@mixin heading-font-style {
  font: 3.5vw $font-headings;
  margin: auto;
  padding: 0px 0px;
  text-align: center;
  color: moccasin;
  text-shadow: 2.5px 4px 1px black;
}

@mixin font-stack-style {
  font: 2vw $font-stack;
  text-align: center;
  color: whitesmoke;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px black;
}

// sass variables
$font-headings: "Oswald", sans-serif;
$font-stack: "Roboto", sans-serif;

// Styles for elements

* {
  box-sizing: border-box;
}

body {
  //setting up background image
  background: url("/assets/images/leonie-wise-4301-unsplash.jpg") no-repeat
    center center fixed;
  @include background-size(cover);
}

table {
  margin: 0 auto 1.5vw;
}

// styling for table containg the grocery list items
li {
  list-style-type: none;
  margin: 0.5vh 5vw;
  padding: 1vh;
  color: black;
  text-shadow: 2px 2px 1px whitesmoke;
  border: 1px solid slategray;
  background-color: rgba(220, 220, 220, 0.65);

  > * {
    display: inline-block;
    vertical-align: middle;
  }
  button {
    float: right;
  }
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background-color: rgb(236, 195, 83);
  border: none;
  border-radius: 4%;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1vw;
  font-size: 2vw;
  cursor: pointer;
}

form[input] {
  color: black;
}

// form row created to organize input fields
.form-row {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 1vw auto;

  label {
    width: 45%;
    text-align: start;
    font-size: 3vw;
    display: block;
  }
  input {
    display: block;
  }
  div {
    margin: auto;
  }
}

// creating heading classes from mixin
.prim-heading {
  @include heading-font-style;
  margin: 1.5vh auto;
}

.sec-heading {
  @include heading-font-style;
  margin: 1vh auto;
}

.svgIcon {
  max-width: 4vw;
  height: auto;
}

// Rudimentary flex grid and col; web-responsive at 768px, can be seen below;
.flex-grid {
  display: flex;
  .col {
    flex: 1;
  }
  .row {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
}
.flex-grid-half {
  display: flex;
  justify-content: space-around;
  .col {
    width: 50%;
  }
}

//primary side panel class
.side-panel {
  @include font-stack-style;
  margin: 2vh 1vw 1vh 2vw;
  padding: 2vh 1vh;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 4px 20px 3px rgba(0, 0, 0, 0.9);
  border-radius: 1%;
}

// form submit buttons, the delete button is referenceced by :nth-of-type
.form-btn {
  margin: 1vh auto;
  padding: 2vh 3vw;
  background-color: rgb(107, 230, 128);
}

.form-btn:nth-of-type(2) {
  background-color: rgb(228, 113, 82);
}

// align edit button and h2 header
#details_panel {
  h2 {
    display: inline;
  }
  button {
    display: inline;
    align-items: center;
  }
}

#editButton {
  background-color: rgb(97, 192, 236);
  margin: 0vw 2vw;
}

#errorMessage {
  color: rgb(248, 107, 68);
  text-transform: none;
  display: none;
}

// media queries, to retain functionally on mobile
@media (max-width: 768px) {
  label {
    font-size: 3vw;
  }
  button {
    font-size: 3vw;
  }
  .flex-grid,
  .flex-grid-half {
    display: block;
    .col {
      width: 98%;
    }
  }
  .prim-heading {
    font-size: 6vw;
  }
  .sec-heading {
    font-size: 5vw;
  }
  .side-panel {
    font-size: 4.5vw;
  }
  .form-btn {
    font-size: 4vw;
  }
  #editButton {
    margin: 2vh;
  }
}
